* {
  box-sizing: border-box;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}
img {
  vertical-align: bottom;
}
/* float 사용시 필요 */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* 접근성을 최대한 배려한 hidden처리 */
.visually-hidden {
  overflow: hidden;
  display: inline-block;
  position: absolute;
  z-index: -1;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
input,
button,
select,
textarea {
  outline: none;
  font: inherit;
  letter-spacing: inherit;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
}
/* ios대응 */
/* text크기를 자동으로 조절하지 말아라 */
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: $primary;
}
/* select 화살표 */
/* 화살표없애기 for ie10, 11 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
