.label-title {
  display: block;
  width: 100%;
  font-size: 17px;
  letter-spacing: -0.04em;
  margin-bottom: 16px;
  font-weight: 500;
}

.input-basic {
  width: 100%;
  border-radius: 4px;
  border: 1px solid $border;

  &:read-only {
    opacity: 0.6;
  }

  &.h50 {
    height: 50px;
    line-height: 48px;
    padding: 0 10px;
    font-size: 16px;
  }

  &.h40 {
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
    font-size: 16px;
  }
}

.deletable-input {
  position: relative;
  display: flex;
  align-items: center;

  input {
    display: block;
    width: 100%;
  }

  .button-delete {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 13px;
    background: $border;
    border-radius: 50%;
  }
}
