.product-cta {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $product-cta-level;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: $global-tab-bar-height;
  padding: 0 20px;
  background-color: $white;
  border-top: 1px solid $border;

  .left {
    display: flex;
    align-items: center;
    margin-left: -6px;

    .button-wish {
      font-size: 26px;
      width: 40px;
      height: 40px;
    }

    .divider {
      display: block;
      width: 1px;
      height: 20px;
      background-color: $border;
      margin-left: 6px;
      margin-right: 16px;
    }

    .price {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: -0.02em;
      margin-top: -2px;
    }
  }
}
