<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.boardDao">
	
	<!-- 글쓰기 -->
	<insert id="insertBoard" parameterType="com.example.demo.vo.boardVo" >
    	INSERT INTO 
    	       APPLE_BOARD (
    	       BOARD_SEQ,
			   BOARD_TITLE,
			   BOARD_PRICE,
			   USER_ID,
			   BOARD_CONTENT,
			   BOARD_DATE
			   )
	    VALUES(
	    	   #{board_seq},
	    	   #{board_title}, 
	    	   #{board_price}, 
	    	   #{user_id}, 
	    	   #{board_content}, 
	    	   TO_CHAR(SYSDATE,'yyyy.mm.dd hh24:mi')
		       )	
	</insert>
	
	<!-- 글번호 시퀀스 -->
	<select id="getBoardSeq" resultType="String" >
   		SELECT TO_CHAR(board_seq.NEXTVAL) AS BOARD_SEQ
 			  FROM dual
	</select>
	
	<!-- 글 리스트 -->
	<select id="listBoard" resultType="hashmap" >
	   		SELECT A.*, B.PICTURE_URL
	          FROM APPLE_BOARD A
   LEFT OUTER JOIN APPLE_PICTURE B
	            ON A.BOARD_SEQ = B.BOARD_SEQ
	</select>
	
	<!-- 파일삽입 -->
	<insert id="insertFile" parameterType="com.example.demo.vo.FileVo" >
    	INSERT INTO 
    	       APPLE_PICTURE (
    	       BOARD_SEQ,
			   PICTURE_URL
			   )
	    VALUES(
	    	   #{board_seq},
	    	   #{picture_url}
		       )	
	</insert>
	
</mapper>
